<div class="header-logo">
    <img src="./images/clover.svg" id="logo">
</div>
<div id="header-title">
    <h1 id="page-title">Lucky Clover Gazette</h1>
    <p>Hyrule's Most Reliable News Source</p>
</div>
<div class="header-links">
    <nav class="header-nav">
        <a href="index.html">Front Page</a>
        <a href="regional_news.html">Regional News</a>
        <a href="outer_news.html">Outer News</a>
        <a href="world_map.html">World Map</a>
        <a href="travel_notes.html">Travel Notes</a>
        <a href="playground_tests.html">Playground Tests</a>
    </nav>
</div>