<div class="header-left">
    <img src="./images/clover.svg" id="logo">
    <div id="header-text">
        <h1>Lucky Clover Gazette</h1>
        <p>Hyrule's Most Reliable News Source</p>
    </div>
</div>

<div class="header-right">
    <nav class="header-nav">
        <a href="index.html">Front Page</a>
        <a href="regional_news.html">Regional News</a>
        <a href="outer_news.html">Outer News</a>
        <a href="world_map.html">World Map</a>
        <a href="travel_notes.html">Travel Notes</a>
    </nav>
</div>